/* .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
} */

.about-item {
    width: 100%;
}

.skills-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 60px;
}

.skills-container li {
    list-style: none;
}